/* CSS Variables Area */
:root {
    --bg: #b5d1ee;
    --card: #ffffff;
    --primary: #3b82f6;
    --text: #1e293b;
    --label: #cd1818;
    --border: #1bf36e;
    --button: #331ebe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: system-ui, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: var(--card);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    text-align: center;
    width: 320px;
}

/* TASK: Add styles for .score-board, .choices, .choice-btn, #message, and .reset-btn below! */
.score-board {
    display: flex;
    justify-content: space-around;
    background: var(--bg);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.score-item {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.label {
    font-size: large;
    color: var(--label);
}

.choices{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.choice-btn{
    font-size: 2rem;
    width: 70px;
    height: 70px;
    border: 2px solid var(--border);
}

.choice-btn:hover{
    border-color: var(--label);
    transform: scale(1.1);
}

#message{
    font-weight: bold;
    margin-bottom: 1rem;
    min-height: 1.5rem;
}

.reset-btn{
    background: none;
    border: none;
    color: var(--button);
    cursor: pointer;
}

.reset-btn:hover{
    background-color: #cd1818;
    color: var(--card);
    border: 0.2px solid var(--label);
    padding: 0.5rem;
    border-radius: 1rem;
}