@import "tailwindcss";

@theme {
  --color-gold: #fbbf24;
  --color-navy-dark: #0f172a;
}

body {
  background-color: #020617;
  /* slate-950 */
  color: white;
  font-family: 'Outfit', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
}